<?xml version='1.0' encoding='utf-8'?>
<widget id="me.zce.airwind" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>AirWind</name>
  <description>Automobile air conditioning wind control.</description>
  <author email="w@zce.me" href="https://zce.me">汪磊</author>
  <content src="index.html" />
  <access origin="*" />
  <icon src="src/assets/icon.png" />
  <preference name="Fullscreen" value="true" />
</widget>
