<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-native" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Native</name>
  <js-module name="Native" src="www/native.js">
    <clobbers target="Native" />
  </js-module>
  <platform name="android">
    <source-file src="src/Native.java" target-dir="src/me/zce/airwind" />
    <source-file src="src/Lock.java" target-dir="src/me/zce/airwind" />
    <source-file src="src/USB2LINEX.java" target-dir="src/me/zce/airwind" />
    <source-file src="src/USBDevice.java" target-dir="src/me/zce/airwind" />
    <source-file src="src/USBList.java" target-dir="src/me/zce/airwind" />
    <source-file src="src/USBManager.java" target-dir="src/me/zce/airwind" />
    <source-file src="src/libs/arm64-v8a" target-dir="jniLibs" />
    <source-file src="src/libs/armeabi" target-dir="jniLibs" />
    <source-file src="src/libs/armeabi-v7a" target-dir="jniLibs" />
    <source-file src="src/libs/mips" target-dir="jniLibs" />
    <source-file src="src/libs/mips64" target-dir="jniLibs" />
    <source-file src="src/libs/x86" target-dir="jniLibs" />
    <source-file src="src/libs/x86_64" target-dir="jniLibs" />
    <lib-file src="src/libs/jna-min.jar" arch="device" />
    <lib-file src="src/libs/jna-platform.jar" arch="device" />
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="Native">
        <param name="android-package" value="me.zce.airwind.Native" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.hardware.usb.host" android:required="true" />
    </config-file>
  </platform>
</plugin>
