<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-native" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Native</name>
  <js-module name="Native" src="native.js">
    <clobbers target="Native" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="Native">
        <param name="android-package" value="me.zce.airwind.Native" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="Native.java" target-dir="src/me/zce/airwind" />
  </platform>
</plugin>
